{
    "campus": "Campus01",
    "building": "Building6000",
    "system": "Zone6101",
    "zone_point_names": {
        "zoneoperativeheatingsetpoint6101": "ZoneOperativeHeatingSetpoint6101",
        "supplyheatersetpoint6101": "SupplyHeaterSetpoint6101",
        "zoneoperativecoolingsetpoint6101": "ZoneOperativeCoolingSetpoint6101",
        "controlstagepump6101": "ControlStagePump6101"
    }
}