{
    "campus": "Campus",
    "building": "bldg27",
    "system": "RM158",
    "zone_point_names": {
        "hvacmode": "HvacMode",
        "supplyairsetpoint": "SupplyAirSetpoint",
        "zoneaircoolingsetpoint": "ZoneAirCoolingSetpoint",
        "zoneairheatingsetpoint": "ZoneAirHeatingSetpoint"
    }
}