{
    "campus": "BOPTEST",
    "building": "BESTEST-Hydronic",
    "system": "bestest_hydronic",
    "local_tz": "US/Eastern",
    "bldg_type": "Medium office",
    "operator": "Rick",
    "image": "https://digipedia.tudelft.nl/app/uploads/2024/06/HBRoomSetup_Image_00.jpg",
    "description": "The building is a single room based on the BESTEST Case 900 model definition.",
    "zone_point_names": {
        "supplyheatersetpoint": "SupplyHeaterSetpoint",
        "controlstagepump": "ControlStagePump",
        "zoneairheatingsetpoint": "ZoneAirHeatingSetpoint",
        "zoneaircoolingsetpoint": "ZoneAirCoolingSetpoint"
    },
    "default_setpoints": {
        "UnoccupiedHeatingSetPoint": 63,
        "UnoccupiedCoolingSetPoint": 80,
        "ControlStagePump": 1,
        "SupplyHeaterSetpoint": 71,
        "ZoneAirHeatingSetpoint": 65,
        "ZoneAirCoolingSetpoint": 78
    },
    "schedule": {
        "Monday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Tuesday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Wednesday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Thursday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Friday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Saturday": "always_off",
        "Sunday": "always_off"
    },
    "chart_configs": {
        "chart_1": {
            "chartConfigType": "line",
            "chartSelectVars": {
                "var_1": "ZoneAirHeatingSetpoint",
                "var_2": "ZoneAirCoolingSetpoint",
                "var_3": "ZoneAirTemperature"
            },
            "chartVizSetting": {
                "var_1": {
                    "color": "red",
                    "line_width": 2,
                    "line_dash": "dashdot"
                },
                "var_2": {
                    "color": "blue",
                    "line_width": 4,
                    "line_dash": "dot"
                },
                "var_3": {
                    "color": "olive",
                    "line_width": 4,
                    "line_dash": "solid"
                }
            }
        }
    }
}