{
    "campus": "BOPTEST",
    "building": "BESTEST-Air",
    "system": "bestest_air",
    "local_tz": "US/Eastern",
    "bldg_type": "Small office",
    "operator": "Mike",
    "image": "https://digipedia.tudelft.nl/app/uploads/2024/06/HBRoomSetup_Image_00.jpg",
    "description": "The building is a single room based on the BESTEST Case 900 model definition. The floor dimensions are 6m x 8m and the floor-to-ceiling height is 2.7m. There are four exterior walls facing the cardinal directions and a flat roof. The walls facing east-west have the short dimension. The south wall contains two windows, each 3m wide and 2m tall. The use of the building is assumed to be a two-person office with a light load density.",
    "zone_point_names": {
        "supplyairsetpoint": "SupplyAirSetpoint",
        "supplyfanspeed": "SupplyFanSpeed",
        "zoneaircoolingsetpoint": "ZoneAirCoolingSetpoint",
        "zoneairheatingsetpoint": "ZoneAirHeatingSetpoint"
    },
    "default_setpoints": {
        "UnoccupiedHeatingSetPoint": 63,
        "UnoccupiedCoolingSetPoint": 80,
        "SupplyFanSpeed": 1,
        "SupplyAirSetpoint": 71,
        "ZoneAirCoolingSetpoint": 78,
        "ZoneAirHeatingSetpoint": 65
    },
    "schedule": {
        "Monday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Tuesday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Wednesday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Thursday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Friday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Saturday": "always_off",
        "Sunday": "always_off"
    },
    "chart_configs": {
        "chart_1": {
            "chartConfigType": "line",
            "chartSelectVars": {
                "var_1": "ZoneAirHeatingSetpoint",
                "var_2": "ZoneAirCoolingSetpoint",
                "var_3": "ZoneAirTemperature"
            },
            "chartVizSetting": {
                "var_1": {
                    "color": "red",
                    "line_width": 2,
                    "line_dash": "dashdot"
                },
                "var_2": {
                    "color": "blue",
                    "line_width": 4,
                    "line_dash": "dot"
                },
                "var_3": {
                    "color": "olive",
                    "line_width": 2,
                    "line_dash": "solid"
                }
            }
        },
        "chart_2": {
            "chartConfigType": "box",
            "chartSelectVars": {
                "var": "ZoneAirTemperature"
            },
            "chartVizSetting": {
                "occupied": {
                    "color": "purple",
                    "line_width": 2,
                    "marker_size": 6
                },
                "unoccupied": {
                    "color": "green",
                    "line_width": 2,
                    "marker_size": 6
                }
            }
        },
        "chart_3": {
            "chartConfigType": "scatter",
            "chartSelectVars": {
                "var_x": "HeatingPowerConsumption",
                "var_y": "ZoneAirTemperature"
            },
            "chartVizSetting": {
                "occupied": {
                    "color": "red",
                    "marker_size": 8,
                    "marker_symbol": "diamond"
                },
                "unoccupied": {
                    "color": "orange",
                    "marker_size": 9,
                    "marker_symbol": "star"
                }
            }
        }
    }
}