{
    "campus": "Campus01",
    "building": "Building5000",
    "system": "Zone5101",
    "zone_point_names": {
        "supplyairsetpoint": "SupplyAirSetpoint",
        "zoneairheatingsetpoint": "ZoneAirHeatingSetpoint",
        "supplyfanspeed": "SupplyFanSpeed",
        "zoneaircoolingsetpoint": "ZoneAirCoolingSetpoint"
    }
}