{
    "campus": "ORNL",
    "building": "3147",
    "system": "103",
    "local_tz": "US/Eastern",
    "bldg_type": "Medium office",
    "operator": "Mike",
    "image": "https://digipedia.tudelft.nl/app/uploads/2024/06/HBRoomSetup_Image_00.jpg",
    "description": "Building 3147 is a two-story office building with approximately 50 rooms located on the ORNL main campus.",
    "zone_point_names": {
        "zoneairheatingsetpoint": "ZoneAirHeatingSetpoint",
        "zoneaircoolingsetpoint": "ZoneAirCoolingSetpoint",
        "hvacmode": "HVACMode"
    },
    "default_setpoints": {
        "UnoccupiedHeatingSetPoint": 63,
        "UnoccupiedCoolingSetPoint": 80,
        "ZoneAirHeatingSetpoint": 65,
        "ZoneAirCoolingSetpoint": 78,
        "HVACMode": "auto"
    },
    "schedule": {
        "Monday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Tuesday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Wednesday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Thursday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Friday": {
            "start": "8:00",
            "end": "18:00"
        },
        "Saturday": "always_off",
        "Sunday": "always_off"
    },
    "chart_configs": {
        "chart_1": {
            "chartConfigType": "line",
            "chartSelectVars": {
                "var_1": "ZoneAirHeatingSetpoint",
                "var_2": "ZoneAirCoolingSetpoint",
                "var_3": "ZoneAirTemperature"
            },
            "chartVizSetting": {
                "var_1": {
                    "color": "red",
                    "line_width": 2,
                    "line_dash": "dashdot"
                },
                "var_2": {
                    "color": "purple",
                    "line_width": 4,
                    "line_dash": "dot"
                },
                "var_3": {
                    "color": "green",
                    "line_width": 2,
                    "line_dash": "solid"
                }
            }
        }
    }
}