{
    "campus": "Campus",
    "building": "bldg27",
    "system": "RM156A",
    "zone_point_names": {
        "supplyairsetpoint": "SupplyAirSetpoint",
        "zoneaircoolingsetpoint": "ZoneAirCoolingSetpoint",
        "zoneairheatingsetpoint": "ZoneAirHeatingSetpoint",
        "hvacmode": "HvacMode"
    }
}